@use '../../../../partials/variables' as *;

section{
  width: 25rem;
  height: 25.3125rem;
  background-color: $mirage;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  padding: 1.75rem;

  h4{
    font-size: 2rem;
    font-weight: 300;
  }

  .login-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .form-grp{
      display: flex;
      flex-direction: column;
      gap: 1.125rem;

      label{
        margin-left: 1rem;
      }

      input{
        // height: 2.5rem;
        border: none;
        padding-top: .3125rem;
        padding-bottom: 1.2875rem;
        background-color: $mirage;
        border-bottom: 1px solid $waikawagray;
        color: $white;
        padding-left: .75rem;

        &:focus{
          outline: none;
          border-bottom: 1px solid $white;
        }



      }

    }
  }

  button{
    height: 3rem;
    border-radius: .375rem;
    border-style: none;
    background-color: $sunset-orange;
    cursor: pointer;
    transition: background-color .3s ease;

    p{
      color: $white;
      font-family: $font;
      font-weight: 300;
      font-size: .9375rem;
    }

    &:hover{
      background-color: $white;

      p{
        color: $mirage;
      }
    }
  }


  .login-footer{
    display: flex;
    gap: .5625rem;
    justify-content: center;

    a{
      text-decoration: none;
      cursor: pointer;
      color: $sunset-orange;
    }
  }
}
