@use '../../../../partials/variables' as *;
@use '../../../../partials/mixins' as *;

section{
  @include form-style(auto);


}


::ng-deep .p-toast {
  .p-toast-message {
    padding: 1rem;

    .p-toast-message-content {
      padding: 1rem;

      .p-toast-message-text {
        margin-left: 1rem;
      }
    }
  }
}
