@use '../../../partials/variables' as *;

section{
  width: 6rem;
  height: 93vh;
  position: fixed;
  border-radius: 1.25rem;
  background-color: $mirage;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .logos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.6875rem;
    margin-top: 2.1875rem;
    ul{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      li{
        a{
          &.active{
            svg{
              path{
                fill: $white;
              }
            }
          }

          &:hover{
            svg{
              path{
                fill: $sunset-orange;
              }
            }
          }
        }
      }
    }
  }

  .user-profile{
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 2.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;


    img{
      border-radius: 50%;
      border: .0625rem solid $white;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}


@media(max-width: 768px){
  section{
    height: 6rem;
    width: 44.9375rem;
    flex-direction: row;
    .logos{
      gap: 12rem;

      padding-left: 1.5rem;
      flex-direction: row;
      margin-top: 0;
      ul{
        flex-direction: row;
      }

    }

    .user-profile{
      margin-bottom: 0;
      padding-right: 1rem;
     img{
      width: 2rem;
      height: 2rem;
     }
    }
  }
}

@media (max-width: 425px){
  section{
    border-radius: 0;
    .logos{
      padding-left: 1rem;
      gap: 4.625rem;

      li{
        width: 1rem;
        height: 1rem;
       svg{
        path{
          scale: .8;
        }
       }
      }
    }
  }
}
