
main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.9006rem;
    gap: 2.75rem;
  }
}
