main{
  display: flex;
  gap: 2.25rem;
  padding: 2rem 0 0 2rem;
  overflow: hidden;
  // max-height: 47rem;
  section{

    width: 100%;
  }


}


@media(max-width:768px){
  main{
    flex-direction: column;
    padding-right: 2rem;
  }
}

@media (max-width: 425px){
  main{
    padding: 0;
  }
}
