main{
  display: flex;
  padding: 2rem 0 0 2rem;
  overflow: hidden;
  .search-results{
    margin-top: 2rem;
    font-size: 2rem;
  }

  section{

    margin-left: 8.75rem;
    width: 100%;
  }


}


@media(max-width:768px){
  main{
    flex-direction: column;
    // padding-right: 2rem;

    section{
      width: 100%;
      display: flex;
      justify-content: center !important;

      // border: 2px solid ;

      margin-left: 0;
      margin-right: 0;
      margin-top: 8rem;
    }
  }
}

@media (max-width: 425px){
  main{
    padding: 0;

    section{
      margin-top: 8rem;

    }
  }
}
