@use '../../../partials/variables' as *;
@use '../../../partials/mixins' as *;

section{
  display: flex;
  flex-direction: column;
  margin-top: 2.125rem;
  flex-direction: column;
  gap: 2rem !important;
  width: 100%;

  overflow-y: scroll;

  max-height: 50.75rem;
  &::-webkit-scrollbar {
    display: none;
  }

  h3{
    @include heading-style
  }



  ul{
    padding-bottom: 10rem;
    overflow-y: scroll;
    max-height: 43.75rem;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 2.5rem;

    &::-webkit-scrollbar {
      display: none;
    }

    
  }

}
