<section>
  <h4>Sign Up</h4>
  <form class="form" [formGroup]="signUpForm">
    <div class="form-grp">
      <input formControlName="email" type="email"  placeholder="Email Address"
      required>
    </div>
    <div class="form-grp">
      <input formControlName="password" type="password"  placeholder="Password"
      required>
    </div>
    <div class="form-grp">
      <input formControlName="confirmPassword" type="password"  placeholder="Repeat Password"
      required>
    </div>
  </form>
  <button type="button" mat-button title="login to your account">
    <p>
      Create an account
    </p>
  </button>
  <div class="footer">
    <p>Already have an account?</p>
    <a routerLink="/auth/login">Login</a>
  </div>
</section>
