<div>
  @if(bookmarkedMovies$ | async; as movies){
    @if(movies.length > 0){
      <section class="bookmarked-movies">
        <h3>Bookmarked Movies</h3>
        <ul>
            @for(movie of movies; track movie.title;let i = $index){
              <app-media-card-reusable [media]="movie"/>
            }
        </ul>
      </section>
    }
  }

  @if(bookmarkedSeries$ | async; as series) {
    @if(series.length > 0) {
      <section class="bookmarked-series">
        <h3>Bookmarked Series</h3>
        <ul>
            @for(movie of series; track movie.title;let i = $index){
              <app-media-card-reusable [media]="movie"/>
            }
          </ul>
        </section>
    } @else {
      <app-not-found [category]="'bookmarks page'"/>
    }
  }
</div>
