@use '../../../partials/variables' as *;
@use '../../../partials/mixins' as *;

section{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2.125rem;
  gap: 2rem;
  overflow-y: scroll;

  max-height: 50.75rem;
  &::-webkit-scrollbar {
    display: none;
  }

  h3{
    @include heading-style
  }

  .trends{
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    width: 100%;

    ul{
      position: relative;
      overflow-x: scroll;
      width: 100%;
      list-style-type: none;
      display: flex;
      gap: 2.5rem;
      padding-bottom: 1rem;
      margin-right:4rem;

      &::-webkit-scrollbar {
        display: none;
      }

      li{
        position: relative;
        @include cover-background;
        border-radius: .5rem;
        height: 14.375rem;
        width: 30rem !important;
        min-width: 30rem;
        display: flex;
        align-items: end;
        transition: .3s ease;


        .trend-info{
          display: flex;
          width: 100%;
          flex-direction: column;
          padding: 1.5rem 0 0 1.5rem;
          border-bottom-left-radius: .5rem;
          border-bottom-right-radius: .5rem;
          width: 100%;
          height: 6.25rem;
          background: linear-gradient(to bottom, #00000000 0%, #000000 75%);

          h4{
            font-size: 1.5rem;
            font-weight: 300;
          }

          .trend-title{
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: .9375rem !important;

            div{
              display: flex;
              gap: 0.25rem;
              align-items: center;

              img{
                width: .75rem;
                height: .75rem;
              }
            }

            .circle{
              @include circle
            }
            // svg
          }
        }

        .bookmark-tick{
          cursor:pointer;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: .875rem;
          margin-left: 27.125rem;
          z-index: 3;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background-color: #10141e7c;

          &:hover{
            background-color: $white;
            svg{
              path{
                fill: transparent;
                stroke: $vulcan;
                stroke-width: 1.8px;
              }
            }
          }
        }


      }
    }
  }


  @include overlay();


  .recommended{

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-right: 2.25rem;
    padding-bottom: 3rem;
    .medias{
      display: flex;
      gap: 1.5rem;
      list-style-type: none;
      flex-wrap: wrap;

    }
  }
}



@media(max-width: 768px){
  section{
    margin-left: 1.25rem;

    // margin-left: 15rem;
    .trends{
      ul{
        max-width: 48.125rem;
        // flex-direction: column;
        overflow-x: scroll;
        margin-right: 0;
        li{
          width: 28.375rem;
          height: 14.375rem;
        }
      }
    }


    .recommended{


      ul{
        // gap: 1rem !important;
        column-gap: .0125rem !important;
        display: grid !important;
        row-gap: 2rem !important;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}


@media(max-width: 425px){
  section{
    margin-left: 1.25rem;

    // margin-left: 15rem;
    .trends{
      ul{
        max-width: 25rem;
        // flex-direction: column;
        overflow-x: scroll;
        margin-right: 0;
        li{
          width: 28.375rem;
          height: 14.375rem;
        }
      }
    }


    .recommended{


      ul{
        // gap: 1rem !important;
        column-gap: .0125rem !important;
        display: grid !important;
        row-gap: 2rem !important;
        grid-template-columns: repeat(2, 1fr);


      }
    }
  }
}
